/* Main Layout */
html, body {
	height: 100%;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	padding: 54px 0 0;
}

header {
	position: absolute;
	top: 0;
	width: 100%;
	height: 54px;
	background: #000;
	margin: 0;
	padding: 10px;
}

#wrap {
	position: relative;
	height: 100%;
	overflow: auto;
}

#frappDocs {
	div.container {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	h3 {
		margin-bottom: 25px;
	}
	blockquote {
		margin-bottom: 50px;
	}
	.well ul {
		padding-left: 20px;
		margin-bottom: 0;
	}
}

#viewer { 
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
}
